/**
 * Created with JetBrains PhpStorm.
 * User: Bargamut
 * Date: 29.06.12
 * Time: 5:08
 */

#fReg { width: 300px; margin: 0 auto; position: relative; }
#fReg input { margin: 3px 0; padding: 2px 0; width: 100%; }
#rLic { width: auto !important; }

#rSubm {
    height: 50px;
    margin: 10px 0 5px 0 !important;

    background-color: #eee;
    border: 1px #aaa solid;
    font-size: 20px;
    font-weight: bold;
}
#rSubm:hover {
    background-color: #aba;
    border: 1px #787 solid;
    font-size: 22px;
    color: #fff;
}