/**
 * Created with JetBrains PhpStorm.
 * User: Bargamut
 * Date: 29.06.12
 * Time: 5:08
 */

body { margin: 0px; padding: 0px; font-family: calibri; }
.main { width: 900px; border: 1px #f00 solid; margin: 0 auto; }