/* CSS Document */

.news{
	list-style:none;
	padding:0px;
	margin:0px;
}
.news li{
	list-style:none;
	padding:5px 0 5px 0;
	margin:10px 0 10px 0;
	border:1px #000000 dashed;
}

.ncaption{
	font-weight:bold;
	background:#eeeeee;
	vertical-align:middle;
	padding:5px 10px 5px 5px;
	height:24px;
}
.ncaption a{
	float:right;
	color:#000000;
}
.ncontent{padding:5px;}
.nnick{
	text-align:right;
	padding:5px 5px 0 5px;
}
.ndate{
	text-align:right;
	font-style:italic;
	padding:5px;
}