AddDefaultCharset utf-8
AddCharset utf-8 *

<IfModule mod_charset.c>
    CharsetSourceEnc utf-8
    CharsetDefault utf-8
</IfModule>

AuthType Basic
AuthName "Please, enter your login/pass!"
AuthUserFile /home/u106771/xn--80aveffe8hgxn--p1ai/www/admin/.htpasswd
# AuthUserFile /home/local.jaroflame.ru/www/admin/.htpasswd
require valid-user

<Files .htpasswd>
   deny from all
</Files>